<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Customers" verbose="1" parallel="tests" thread-count="3">

	<test name="validateUniversityFormData" preserve-order="true">
		<classes>
			<class name="com.generic.validateorders.ApplicationTest">
				<methods>
					<include name="enterUniversityData" />
					<include name="validateConfirmationMessage" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="validateUniversityFormData1" preserve-order="true">
		<classes>
			<class name="com.generic.validateorders.ApplicationTest">
				<methods>
					<include name="enterUniversityData" />
					<include name="validateConfirmationMessage" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="validateUniversityFormData2" preserve-order="true">
		<classes>
			<class name="com.generic.validateorders.ApplicationTest">
				<methods>
					<include name="enterUniversityData" />
					<include name="validateConfirmationMessage" />
				</methods>
			</class>
		</classes>
	</test>
</suite>