<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Customers" verbose="1" parallel="tests" thread-count="2">
	<test name="validateUniversityFormData1" preserve-order="true">
		<classes>
			<class name="com.generic.validateorders.WebAppTest">
				<methods>
					<include name="enterAndValidateUniversityData" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="validateUniversityFormData2" preserve-order="true">
		<parameter name="executionType" value="mobile"></parameter>
		<classes>
			<class name="com.generic.validateorders.MobileAppTest">
				<methods>
					<include name="mobileTest" />
				</methods>
			</class>
		</classes>
	</test>
</suite>